@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center" style="background-color: #f0f8ff; padding: 20px;">
    <h1 class="display-4">Kitap Dünyasına Hoş Geldiniz</h1>
    <div>
        <img src="~/Resimler/arkaplan.jpeg">
    </div>
    <marquee behavior="scroll" direction="left" style="margin: 20px 0; font-size: 1.5em; color: #000;">
        Kitap severler için en iyi kitaplar burada!
    </marquee>
    <p style="position: fixed; bottom: 0; width: 100%; background-color: #f0f8ff; padding: 10px;">
        Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.
    </p>
</div>


